# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
ChickenlyProject/Library/ShaderCache/0/0a2faaab9ef75aa314ee441a8d88e9b5.bin
ChickenlyProject/Library/ShaderCache/0/0d567c8ab0d5d5090a72a16a9cdc878b.bin
ChickenlyProject/Library/ShaderCache/3/34dd31b26601f894f42829e056cde2db.bin
ChickenlyProject/Library/ShaderCache/3/3aff6c7d414ebb61ad284dd22cda60cb.bin
ChickenlyProject/Library/ShaderCache/4/4c088366069139dbffa7db55c5cec69a.bin
ChickenlyProject/Library/ShaderCache/4/4fb2f397f0bfc175dd93b5c937edcb21.bin
ChickenlyProject/Library/ShaderCache/5/577b7d13c526e3e98db32a0c180100a2.bin
ChickenlyProject/Library/ShaderCache/5/5b77dddeebc28a48187220c0dd853f13.bin
ChickenlyProject/Library/ShaderCache/7/7f8b20fc65a6e21c96b2b09909c4da58.bin
ChickenlyProject/Library/ShaderCache/8/8bca472625d6a0cec971e8e02f184c66.bin
ChickenlyProject/Library/ShaderCache/9/9149f368cda595a21fd4f1b28803f3e5.bin
ChickenlyProject/Library/ShaderCache/9/91a9ec8fe1c12e8d581562d4e3b476a3.bin
ChickenlyProject/Library/ShaderCache/9/9bda4c44d48db8475890d12e338066ef.bin
ChickenlyProject/Library/ShaderCache/a/aae551604712da5ff560c67a59ced1d2.bin
ChickenlyProject/Library/ShaderCache/9/9bde0b5f0d3ee53efc9d8f2a919d7111.bin
ChickenlyProject/Library/ShaderCache/d/dd870e7b91c123221b42809e2168e080.bin
ChickenlyProject/Library/ShaderCache/9/9bdfc19ee58597a5ce1027f0718ebe1c.bin
ChickenlyProject/Library/ShaderCache/b/bbd79446b16d62e45f8739b6aaefc2cf.bin
ChickenlyProject/Library/ShaderCache/e/e509e578c10c34a5b569a724e768c310.bin
ChickenlyProject/Library/ShaderCache/b/bc77c92d54a68ba933a089e956b43695.bin
ChickenlyProject/Library/ShaderCache/c/cfcf8c84fc7d3771f823df8523ae5f45.bin
ChickenlyProject/Library/ShaderCache/9/9c82288e7ab1ca8efc1ee0b3d2367a03.bin
ChickenlyProject/Library/ShaderCache/d/dc7205ae3f940640551a5930b676e7cc.bin
ChickenlyProject/Library/ShaderCache/d/d46f4ff3053497ed3cf8ca9008ceb3d7.bin
ChickenlyProject/Library/ShaderCache/9/9e28ee63ef9d621c509fbc9e036b10f0.bin
ChickenlyProject/Library/ShaderCache/d/da6481eb0219c722e9a754bb5c5b0c5f.bin
ChickenlyProject/Library/ShaderCache/9/9e30b5e993bb5a669256bf0c387e100f.bin
ChickenlyProject/Library/ShaderCache/d/dbb18efe832a4ddc7e00fa529e0aea0d.bin
ChickenlyProject/Library/ShaderCache/9/974482f595930a1fffca42e28b54365a.bin
ChickenlyProject/Library/ShaderCache/9/9f84cff78e30717d96f5c522b5216064.bin
ChickenlyProject/Library/ShaderCache/9/985ed184fb321d1555c09148d76339f8.bin
ChickenlyProject/Library/ShaderCache/9/998793358aa4a4d65c821dae69d832fc.bin
ChickenlyProject/Library/ShaderCache/9/98b7970908f00641c6cab93c424a24de.bin
ChickenlyProject/Library/ShaderCache/9/99735d59beab332ec02ad7e072e1703d.bin
